@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  margin-top: 3rem;
  background-color: #e6e6fa;
  font-family: "Roboto Slab", serif;
  text-align: center;
  background-image: url(./image/trianglify-lowres.png);
  background-size: cover;
  background-attachment: fixed;
}

.title-text {
  font-weight: bold;
}
